---
---

@import "{{ site.theme }}";
body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
}
wrapper {
  width: 80%;
}
header {
  position: static;
  width: 350px;
  height: 100%;
}
#blogroll {
  list-style-type: none;
  text-align:left;
  border-radius: 0;
  text-decoration: underline;
  text-align: left;
  padding-top: none;
  height: auto;
  background: #fff
}
#blogroll a {
  display: inline;
}
#blogroll li {
  float: none;
  text-align: left;
}
section {
  width: 70%;
  float: none;
}
footer {
  position: static;
}